*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: flex-end;
}

.content {
  width: 100%;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 30px;
  padding: 0 30px;
  display: grid;
  align-items: end;
  grid-area: auto;
  margin: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
  gap: 40px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  margin-top: 5px;
  gap: 5px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: #ffffffb2;
  background-color: transparent;
  appearance: none;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  position: relative;
  width: 19px;
  height: 20px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
}

.search-form__submit-button {
  min-width: 194px;
  padding: 6px;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  min-width: 390px;
  margin-top: 30px;
  padding: 6px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-container {
  position: relative;
  height: 298px;
  margin-top: 26px;
  overflow-y: auto;
}

.content__details {
  height: 100%;
  width: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 4;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 196px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.search-form__fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
